// =============================================================================

    // NAV SCSS
    // Property of joshdrink
    // Authored by Josh Beveridge

// =============================================================================

// Navigation ==================================================================

.wrapper-navigation {
    // background-color: $black;
    background-repeat: repeat;
    box-shadow: $shadow-bottom-01;
    height: 12.5vh;
    position: fixed;
    bottom: 0;
    transition: height .5s ease .6s;
    width: 100vw;
    z-index: 10;

    &.active {
        height: 100vh;
        transition: height .5s ease .6s;
    }

}

.navigation {
    background-color: $black;
    height: 87.5vh;
    position: relative;
}

.label-navigation {
    color: $white;
    display: block;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: 6.25vh;
    left: 6vh;
    text-transform: uppercase;
    transform: translateY(-50%);
    transition: opacity .3s ease;

    &.active {
        opacity: 1;
        transition: opacity .3s ease 1.2s;
    }

}

.wrapper-navigation-list {
    max-width: 60vw;
    position: absolute;
    top: 50%;
    left: 10vw;
    transform: translateY(-50%);
}

.navigation-list {
    display: block;
    padding: 0 0 0 10vw;
    position: relative;
    vertical-align: top;

    >dd {
        margin: 0 0 2vh 0;
        opacity: 0;
        position: relative;
        // left: 50%;
        top: 50%;
        transition: all .3s ease .4s;

        a {
            color: $white;
            text-transform: uppercase;

            &:hover {
                // color: $accent;
            }

        }

        &.active {
            opacity: 1;
            // left: 0;
            top: 0;
        }

        a.active {
            // color: $accent;
        }

    }

}

.navigation-list {

    dd:nth-child(2).active {
        transition: all .3s ease 1s;
    }

    dd:nth-child(3).active {
        transition: all .3s ease 1.1s;
    }

    dd:nth-child(4).active {
        transition: all .3s ease 1.2s;
    }

    dd:nth-child(5).active {
        transition: all .3s ease 1.3s;
    }

}

.navigation-overlay {
    background: $black;
    height: 12.5vh;
    opacity: 1;
    position: absolute;
    top: 87.5vh;
    right: 0;
    transition: opacity .3s ease;
    width: 100vw;
    z-index: 10;

    &.active {
        opacity: 0;
        transition: opacity .5s ease 1.5s;
    }

}

.navigation-button {
    cursor: pointer;
    height: 15vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 30;
}

.navigation-close {
    background: $black;
    border-top: 1px solid $dark-grey;
    cursor: pointer;
    display: block;
    height: 12.5vh;
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: all .3s ease;
    width: 100vw;
    z-index: 20;

    &.active {
        opacity: .8;
        transition: opacity .3s ease;

        &:hover {
            opacity: .5;
            transition: opacity .3s ease;
        }

    }

}

.navigation-close-exterior {
    display: none;
    cursor: pointer;
    height: 10vh;
    position: absolute;
    top: -10vh;
    width: 100vw;
    z-index: 10;
}

// Media Queries ===============================================================

// Phone (Landscape)
@media screen and (min-width:541px) {}

// Tablet (Portrait)
@media screen and (min-width:641px) {}

// Tablet (Landscape)
@media screen and (min-width:801px) {

    .wrapper-navigation {
        height: 100vh;
        top: 0;
        left: -90vw;
        bottom: 0;
        transition: left .5s ease 1s;
        width: 100vw;

        &.active {
            left: 0;
            transition: left .5s ease .5s;
        }

    }

    .navigation {
        height: 100vh;
        width: 90vw;
    }

    .label-navigation {
        display: block;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        top: auto;
        left: auto;
        right: -5vw;
        bottom: 15vh;
        transform: translateX(50%) rotate(-90deg);
        transition: opacity 0s ease;
        z-index: 20;

        &.active {
            opacity: 1;
            transition: opacity .3s ease 1.2s;
        }

    }

    .mobile {
        display: none;
    }

    .navigation-list {
        display: inline-block;
    }

    .navigation-overlay {
        height: 100vh;
        position: absolute;
        top: 0;
        right: -10vw;
        width: 10vw;
        z-index: 15;
    }

    .navigation-button {
        height: 100vh;
        left: auto;
        right: -10vw;
        width: 10vw;
        z-index: 30;
    }

    .navigation-close {
        border-top: none;
        border-left: 1px solid $dark-grey;
        height: 100vh;
        right: 0;
        width: 10vw;
    }

}

// Desktop
@media screen and (min-width:1025px) {}

// Desktop XL
@media screen and (min-width:1281px) {}
