// =============================================================================

    // PALETTE SCSS
    // Property of joshdrink
    // Authored by Josh Beveridge

// =============================================================================

// Shades ======================================================================
$white: rgba(250, 250, 250, 1);
$light-grey: rgba(225, 225, 225, 1);
$mid-grey: rgba(180, 180, 180, 1);
$dark-grey: rgba(80, 80, 80, 1);
$black: rgba(40, 40, 40, 1);

// Custom Colours ==============================================================

$green: rgba(135, 211, 0, 1);
