/* line 12, ../scss/partials/_typography.scss */
html {
  font-size: 5vw;
}

@media screen and (min-width: 641px) {
  /* line 13, ../scss/partials/_typography.scss */
  html {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 801px) {
  /* line 14, ../scss/partials/_typography.scss */
  html {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1025px) {
  /* line 15, ../scss/partials/_typography.scss */
  html {
    font-size: 1.7vw;
  }
}
@media screen and (min-width: 1281px) {
  /* line 16, ../scss/partials/_typography.scss */
  html {
    font-size: 1.3vw;
  }
}
/* line 74, ../scss/partials/_typography.scss */
h1,
h2,
h3,
h4,
h5,
time,
p,
em,
strong,
span,
a,
ul,
ol,
li,
dl,
dt,
dd {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 900;
  color: #282828;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

/* line 104, ../scss/partials/_typography.scss */
.post h1,
.post h1 a,
.post h2,
.post h3,
.post h4,
.post h5 {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 900;
  letter-spacing: -0.03rem;
}
/* line 114, ../scss/partials/_typography.scss */
.post h1,
.post h1 a {
  margin: 3vh 0;
  line-height: 1;
}
/* line 120, ../scss/partials/_typography.scss */
.post h2 {
  font-size: 1.8rem;
  margin: 2rem 0 0;
}
/* line 125, ../scss/partials/_typography.scss */
.post h3 {
  color: #505050;
  font-size: 1.5rem;
  margin: 2rem 0 0;
}
/* line 131, ../scss/partials/_typography.scss */
.post h4 {
  font-size: 0.8rem;
  margin: 3vh 0;
}
/* line 136, ../scss/partials/_typography.scss */
.post h5 {
  font-size: 0.6rem;
  margin: 3vh 0;
}
/* line 142, ../scss/partials/_typography.scss */
.post .post-title,
.post .post-title a {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}
/* line 152, ../scss/partials/_typography.scss */
.post .post-meta {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 900;
  font-size: 0.7rem;
  text-transform: uppercase;
}
/* line 157, ../scss/partials/_typography.scss */
.post .post-meta time,
.post .post-meta a {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 900;
  font-size: 0.7rem;
  text-transform: uppercase;
}
/* line 164, ../scss/partials/_typography.scss */
.post .post-meta span {
  font-family: "jaf-facitweb", sans-serif;
  font-weight: 900;
  color: #0092ba;
  font-size: 0.7rem;
  font-weight: 900;
}
/* line 174, ../scss/partials/_typography.scss */
.post p {
  font-family: "minion-pro", serif;
  font-weight: 400;
  color: #505050;
  margin: 1rem 0;
}
/* line 180, ../scss/partials/_typography.scss */
.post a {
  font-family: "minion-pro", serif;
  font-weight: 400;
  color: #0092ba;
}
/* line 185, ../scss/partials/_typography.scss */
.post strong {
  font-family: "minion-pro", serif;
  font-weight: 700;
  color: #505050;
  font-weight: 700;
}
/* line 191, ../scss/partials/_typography.scss */
.post em {
  font-family: "minion-pro", serif;
  font-weight: 400;
  color: #505050;
  text-transform: italic;
}
/* line 197, ../scss/partials/_typography.scss */
.post ul,
.post ul li,
.post ol li {
  font-family: "minion-pro", serif;
  font-weight: 400;
  color: #505050;
}
/* line 204, ../scss/partials/_typography.scss */
.post img {
  width: 100%;
}
/* line 208, ../scss/partials/_typography.scss */
.post hr {
  border: none;
  border-bottom: 1px solid #e1e1e1;
}
/* line 214, ../scss/partials/_typography.scss */
.post pre {
  background: #e1e1e1;
  border: 1px solid #282828;
  color: #282828;
  display: block;
  font-size: .7rem;
  line-height: 1.3rem;
  padding: 2.5vw;
  white-space: pre-wrap;
  width: 100%;
}
/* line 225, ../scss/partials/_typography.scss */
.post pre > code {
  padding: 0;
  width: 100%;
  word-wrap: break-word;
}
/* line 233, ../scss/partials/_typography.scss */
.post code {
  background: #e1e1e1;
  color: #282828;
  display: inline-block;
  font-size: .7rem;
  padding: 1.7vw;
  vertical-align: middle;
}
/* line 243, ../scss/partials/_typography.scss */
.post blockquote {
  border-left: 10px solid #e1e1e1;
  color: #505050;
  margin: 1em 0;
  padding: 0 0 0 5vh;
}

@media screen and (min-width: 801px) {
  /* line 268, ../scss/partials/_typography.scss */
  .post code {
    padding: .3vw;
  }
}
/* line 17, ../scss/app.scss */
* {
  box-sizing: border-box;
}

/* line 21, ../scss/app.scss */
html,
body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

/* line 57, ../scss/app.scss */
.mobile-portrait {
  display: block;
}

@media screen and (min-width: 801px) {
  /* line 59, ../scss/app.scss */
  .mobile-portrait {
    display: none;
  }
}
/* line 61, ../scss/app.scss */
.mobile-landscape {
  display: none;
}

@media screen and (min-width: 801px) {
  /* line 63, ../scss/app.scss */
  .mobile-landscape {
    display: block;
  }
}
/* line 11, ../scss/partials/_nav.scss */
.wrapper-navigation {
  background-repeat: repeat;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  height: 12.5vh;
  position: fixed;
  bottom: 0;
  -webkit-transition: height .5s ease .6s;
          transition: height .5s ease .6s;
  width: 100vw;
  z-index: 10;
}
/* line 22, ../scss/partials/_nav.scss */
.wrapper-navigation.active {
  height: 100vh;
  -webkit-transition: height .5s ease .6s;
          transition: height .5s ease .6s;
}

/* line 29, ../scss/partials/_nav.scss */
.navigation {
  background-color: #282828;
  height: 87.5vh;
  position: relative;
}

/* line 35, ../scss/partials/_nav.scss */
.label-navigation {
  color: #fafafa;
  display: block;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 6.25vh;
  left: 6vh;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .3s ease, top .3s ease .6s, left .3s ease .6s;
          transition: opacity .3s ease, top .3s ease .6s, left .3s ease .6s;
}
/* line 48, ../scss/partials/_nav.scss */
.label-navigation.active {
  opacity: 1;
  -webkit-transition: opacity .3s ease 1.2s, top .3s ease .6s, left .3s ease .6s;
          transition: opacity .3s ease 1.2s, top .3s ease .6s, left .3s ease .6s;
}

/* line 55, ../scss/partials/_nav.scss */
.wrapper-navigation-list {
  max-width: 60vw;
  position: absolute;
  top: 50%;
  left: 10vw;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 63, ../scss/partials/_nav.scss */
.navigation-list {
  display: block;
  padding: 0 0 0 10vw;
  position: relative;
  vertical-align: top;
}
/* line 69, ../scss/partials/_nav.scss */
.navigation-list > dd {
  margin: 0 0 2vh 0;
  opacity: 0;
  position: relative;
  top: 50%;
  -webkit-transition: all .3s ease .4s;
          transition: all .3s ease .4s;
}
/* line 77, ../scss/partials/_nav.scss */
.navigation-list > dd a {
  color: #fafafa;
  text-transform: uppercase;
}
/* line 87, ../scss/partials/_nav.scss */
.navigation-list > dd.active {
  opacity: 1;
  top: 0;
}

/* line 103, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(2).active {
  -webkit-transition: all .3s ease 1s;
          transition: all .3s ease 1s;
}
/* line 107, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(3).active {
  -webkit-transition: all .3s ease 1.1s;
          transition: all .3s ease 1.1s;
}
/* line 111, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(4).active {
  -webkit-transition: all .3s ease 1.2s;
          transition: all .3s ease 1.2s;
}
/* line 115, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(5).active {
  -webkit-transition: all .3s ease 1.3s;
          transition: all .3s ease 1.3s;
}

/* line 121, ../scss/partials/_nav.scss */
.navigation-overlay {
  background: #282828;
  height: 12.5vh;
  opacity: 1;
  position: absolute;
  top: 87.5vh;
  right: 0;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
  width: 100vw;
  z-index: 10;
}
/* line 132, ../scss/partials/_nav.scss */
.navigation-overlay.active {
  opacity: 0;
  -webkit-transition: opacity .5s ease 1.5s;
          transition: opacity .5s ease 1.5s;
}

/* line 139, ../scss/partials/_nav.scss */
.navigation-button {
  cursor: pointer;
  height: 15vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 30;
}

/* line 149, ../scss/partials/_nav.scss */
.navigation-close {
  background: #282828;
  border-top: 1px solid #505050;
  cursor: pointer;
  display: block;
  height: 12.5vh;
  opacity: 0;
  position: absolute;
  bottom: 0;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  width: 100vw;
  z-index: 20;
}
/* line 162, ../scss/partials/_nav.scss */
.navigation-close.active {
  opacity: .8;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
}
/* line 166, ../scss/partials/_nav.scss */
.navigation-close.active:hover {
  opacity: .5;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
}

/* line 175, ../scss/partials/_nav.scss */
.navigation-close-exterior {
  display: none;
  cursor: pointer;
  height: 10vh;
  position: absolute;
  top: -10vh;
  width: 100vw;
  z-index: 10;
}

@media screen and (min-width: 801px) {
  /* line 196, ../scss/partials/_nav.scss */
  .wrapper-navigation {
    height: 100vh;
    top: 0;
    left: -90vw;
    bottom: 0;
    -webkit-transition: left .5s ease 1s;
            transition: left .5s ease 1s;
    width: 100vw;
  }
  /* line 204, ../scss/partials/_nav.scss */
  .wrapper-navigation.active {
    left: 0;
    -webkit-transition: left .5s ease .5s;
            transition: left .5s ease .5s;
  }

  /* line 211, ../scss/partials/_nav.scss */
  .navigation {
    height: 100vh;
    width: 90vw;
  }

  /* line 216, ../scss/partials/_nav.scss */
  .label-navigation {
    display: block;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: auto;
    left: auto;
    right: -5vw;
    bottom: 15vh;
    -webkit-transform: translateX(50%) rotate(-90deg);
        -ms-transform: translateX(50%) rotate(-90deg);
            transform: translateX(50%) rotate(-90deg);
    -webkit-transition: opacity 0s ease;
            transition: opacity 0s ease;
    z-index: 20;
  }
  /* line 230, ../scss/partials/_nav.scss */
  .label-navigation.active {
    opacity: 1;
    -webkit-transition: opacity .3s ease 1.2s;
            transition: opacity .3s ease 1.2s;
  }

  /* line 237, ../scss/partials/_nav.scss */
  .mobile {
    display: none;
  }

  /* line 241, ../scss/partials/_nav.scss */
  .navigation-list {
    display: inline-block;
  }

  /* line 245, ../scss/partials/_nav.scss */
  .navigation-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    right: -10vw;
    width: 10vw;
    z-index: 15;
  }

  /* line 254, ../scss/partials/_nav.scss */
  .navigation-button {
    height: 100vh;
    left: auto;
    right: -10vw;
    width: 10vw;
    z-index: 30;
  }

  /* line 262, ../scss/partials/_nav.scss */
  .navigation-close {
    border-top: none;
    border-left: 1px solid #505050;
    height: 100vh;
    right: 0;
    width: 10vw;
  }
}
/* line 69, ../scss/app.scss */
.icon-home {
  display: none;
  position: fixed;
  left: 10vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
/* line 75, ../scss/app.scss */
.icon-home > img {
  width: 16vw;
}
/* line 79, ../scss/app.scss */
.icon-home .icon-grey {
  opacity: 1;
  position: relative;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
}
/* line 85, ../scss/app.scss */
.icon-home .icon-black {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
}
/* line 96, ../scss/app.scss */
.icon-home:hover .icon-grey {
  opacity: 0;
}
/* line 100, ../scss/app.scss */
.icon-home:hover .icon-black {
  opacity: 1;
}

/* line 109, ../scss/app.scss */
.scene {
  width: 100vw;
}
/* line 112, ../scss/app.scss */
.scene.single-post {
  background: #fafafa;
  min-height: 100vh;
}

/* line 121, ../scss/app.scss */
.loop-article {
  background: #fafafa;
  display: block;
  margin: 1rem auto;
  padding: 1rem 0;
  -webkit-transition: box-shadow .3s ease, border .3s ease .3s;
          transition: box-shadow .3s ease, border .3s ease .3s;
  width: 85%;
}
/* line 133, ../scss/app.scss */
.loop-article:first-of-type {
  margin: 1rem auto;
}
/* line 137, ../scss/app.scss */
.loop-article:first-of-type:not(:last-of-type) {
  margin: 1rem auto 1rem;
}
/* line 144, ../scss/app.scss */
.loop-article:last-of-type {
  border-bottom: none;
  margin: 1rem auto;
}
/* line 149, ../scss/app.scss */
.loop-article:last-of-type:not(:first-of-type) {
  margin: 1rem auto 15vh;
}
/* line 156, ../scss/app.scss */
.loop-article:hover {
  -webkit-transition: box-shadow .3s ease, border .1s ease;
          transition: box-shadow .3s ease, border .1s ease;
}
/* line 162, ../scss/app.scss */
.loop-article hr {
  position: relative;
  left: 0;
  width: 100vw;
}

/* line 170, ../scss/app.scss */
.rule-loop {
  border: none;
  border-top: 1px solid #b4b4b4;
}
/* line 174, ../scss/app.scss */
.rule-loop:last-of-type {
  display: none;
}

/* line 180, ../scss/app.scss */
.article {
  background: #fafafa;
  display: block;
  margin: 1rem auto 15vh;
  padding: 1rem 0;
  width: 85%;
}

@media screen and (min-width: 801px) {
  /* line 205, ../scss/app.scss */
  .scene {
    position: relative;
    left: 10vw;
    width: 90vw;
  }

  /* line 211, ../scss/app.scss */
  .icon-home {
    display: block;
  }

  /* line 215, ../scss/app.scss */
  .loop-article {
    margin: 2rem 25vw 1rem;
    max-width: 40vw;
    padding: 1.5rem 0;
  }
  /* line 220, ../scss/app.scss */
  .loop-article:first-of-type {
    margin: 3rem 25vw 1.5rem;
  }
  /* line 223, ../scss/app.scss */
  .loop-article:first-of-type:not(:last-of-type) {
    margin: 3rem 25vw 1rem;
  }
  /* line 229, ../scss/app.scss */
  .loop-article:last-of-type {
    margin: 3rem 25vw 3rem;
  }
  /* line 232, ../scss/app.scss */
  .loop-article:last-of-type:not(:first-of-type) {
    margin: 2rem 25vw 3rem;
  }
  /* line 238, ../scss/app.scss */
  .loop-article hr {
    left: -20vw;
    width: 90vw;
  }

  /* line 245, ../scss/app.scss */
  .article {
    margin: 3rem 25vw;
    max-width: 40vw;
    padding: 1.5rem 0;
  }
}
