/* line 12, ../scss/partials/_typography.scss */
html {
  font-size: 5vw;
}

@media screen and (min-width: 641px) {
  /* line 13, ../scss/partials/_typography.scss */
  html {
    font-size: 3.2vw;
  }
}
@media screen and (min-width: 801px) {
  /* line 14, ../scss/partials/_typography.scss */
  html {
    font-size: 2vw;
  }
}
@media screen and (min-width: 1025px) {
  /* line 15, ../scss/partials/_typography.scss */
  html {
    font-size: 1.6vw;
  }
}
@media screen and (min-width: 1281px) {
  /* line 16, ../scss/partials/_typography.scss */
  html {
    font-size: 1.3vw;
  }
}
/* line 69, ../scss/partials/_typography.scss */
h1,
h2,
h3,
h4,
h5,
time,
p,
em,
strong,
span,
a,
ul,
ol,
li,
dl,
dt,
dd {
  font-family: "hwt-artz", sans-serif;
  font-weight: 500;
  color: #282828;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

/* line 98, ../scss/partials/_typography.scss */
.post h1,
.post h1 a,
.post h2,
.post h3,
.post h4,
.post h5 {
  font-family: "hwt-artz", sans-serif;
  font-weight: 500;
  letter-spacing: 0.06rem;
}
/* line 108, ../scss/partials/_typography.scss */
.post h1,
.post h1 a {
  margin: 3vh 0;
}
/* line 113, ../scss/partials/_typography.scss */
.post h2 {
  font-size: 1.8rem;
  margin: 2rem 0 0;
}
/* line 118, ../scss/partials/_typography.scss */
.post h3 {
  color: #505050;
  font-size: 1.5rem;
  margin: 2rem 0 0;
}
/* line 124, ../scss/partials/_typography.scss */
.post h4 {
  font-size: 0.8rem;
  margin: 3vh 0;
}
/* line 129, ../scss/partials/_typography.scss */
.post h5 {
  font-size: 0.6rem;
  margin: 3vh 0;
}
/* line 135, ../scss/partials/_typography.scss */
.post .post-title,
.post .post-title a {
  font-family: "hwt-artz", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0 0 1rem 0;
}
/* line 143, ../scss/partials/_typography.scss */
.post .post-meta {
  font-family: "minion-pro", serif;
  font-weight: 700;
  font-size: .8rem;
  font-weight: 900;
}
/* line 148, ../scss/partials/_typography.scss */
.post .post-meta time,
.post .post-meta a {
  font-family: "minion-pro", serif;
  font-weight: 700;
  font-size: .8rem;
  font-weight: 900;
}
/* line 158, ../scss/partials/_typography.scss */
.post p {
  font-family: "minion-pro", serif;
  font-weight: 400;
  color: #505050;
  margin: 1rem 0;
}
/* line 164, ../scss/partials/_typography.scss */
.post a {
  font-family: "minion-pro", serif;
  font-weight: 400;
  color: red;
}
/* line 169, ../scss/partials/_typography.scss */
.post strong {
  font-family: "minion-pro", serif;
  font-weight: 700;
  font-weight: 700;
}
/* line 174, ../scss/partials/_typography.scss */
.post em {
  font-family: "minion-pro", serif;
  font-weight: 400;
  text-transform: italic;
}
/* line 179, ../scss/partials/_typography.scss */
.post ul,
.post ul li,
.post ol li {
  font-family: "minion-pro", serif;
  font-weight: 400;
}
/* line 185, ../scss/partials/_typography.scss */
.post img {
  width: 100%;
}
/* line 189, ../scss/partials/_typography.scss */
.post hr {
  border: none;
  border-bottom: 1px solid #e1e1e1;
}
/* line 195, ../scss/partials/_typography.scss */
.post pre {
  background: #e1e1e1;
  border: 1px solid #282828;
  display: block;
  font-size: .7rem;
  line-height: 1.3rem;
  padding: 2.5vw;
  white-space: pre-wrap;
  width: 100%;
}
/* line 206, ../scss/partials/_typography.scss */
.post code {
  background: #e1e1e1;
  display: inline-block;
  font-size: .7rem;
  padding: 1.7vw;
  vertical-align: middle;
}
/* line 215, ../scss/partials/_typography.scss */
.post blockquote {
  border-left: 10px solid #e1e1e1;
  margin: 1em 0;
  padding: 0 0 0 5vh;
}

@media screen and (min-width: 801px) {
  /* line 239, ../scss/partials/_typography.scss */
  .post code {
    padding: .3vw;
  }
}
/* line 17, ../scss/app.scss */
* {
  box-sizing: border-box;
}

/* line 21, ../scss/app.scss */
html,
body {
  background: #fafafa;
  margin: 0;
  padding: 0;
}

/* line 57, ../scss/app.scss */
.mobile-portrait {
  display: block;
}

@media screen and (min-width: 801px) {
  /* line 59, ../scss/app.scss */
  .mobile-portrait {
    display: none;
  }
}
/* line 61, ../scss/app.scss */
.mobile-landscape {
  display: none;
}

@media screen and (min-width: 801px) {
  /* line 63, ../scss/app.scss */
  .mobile-landscape {
    display: block;
  }
}
/* line 11, ../scss/partials/_nav.scss */
.navigation {
  background-color: #282828;
  background-repeat: repeat;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  height: 90vh;
  position: fixed;
  bottom: -80vh;
  -webkit-transition: bottom .5s ease .6s;
          transition: bottom .5s ease .6s;
  width: 100vw;
  z-index: 10;
}
/* line 22, ../scss/partials/_nav.scss */
.navigation.active {
  bottom: 0;
  -webkit-transition: bottom .5s ease .6s;
          transition: bottom .5s ease .6s;
}

/* line 29, ../scss/partials/_nav.scss */
.label-navigation {
  color: #fafafa;
  display: block;
  margin: 0;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 5vh;
  left: 6vh;
  text-transform: uppercase;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .3s ease;
          transition: opacity .3s ease;
}
/* line 42, ../scss/partials/_nav.scss */
.label-navigation.active {
  opacity: 1;
  -webkit-transition: opacity .3s ease 1.2s;
          transition: opacity .3s ease 1.2s;
}

/* line 49, ../scss/partials/_nav.scss */
.wrapper-navigation-list {
  max-width: 60vw;
  position: absolute;
  top: 50%;
  left: 10vw;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* line 57, ../scss/partials/_nav.scss */
.navigation-list {
  display: block;
  padding: 0 0 0 10vw;
  position: relative;
  vertical-align: top;
}
/* line 63, ../scss/partials/_nav.scss */
.navigation-list > dd {
  margin: 0 0 2vh 0;
  opacity: 0;
  position: relative;
  top: 50%;
  -webkit-transition: all .3s ease .4s;
          transition: all .3s ease .4s;
}
/* line 71, ../scss/partials/_nav.scss */
.navigation-list > dd a {
  color: #fafafa;
  text-transform: uppercase;
}
/* line 81, ../scss/partials/_nav.scss */
.navigation-list > dd.active {
  opacity: 1;
  top: 0;
}

/* line 97, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(2).active {
  -webkit-transition: all .3s ease 1s;
          transition: all .3s ease 1s;
}
/* line 101, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(3).active {
  -webkit-transition: all .3s ease 1.1s;
          transition: all .3s ease 1.1s;
}
/* line 105, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(4).active {
  -webkit-transition: all .3s ease 1.2s;
          transition: all .3s ease 1.2s;
}
/* line 109, ../scss/partials/_nav.scss */
.navigation-list dd:nth-child(5).active {
  -webkit-transition: all .3s ease 1.3s;
          transition: all .3s ease 1.3s;
}

/* line 115, ../scss/partials/_nav.scss */
.navigation-button {
  cursor: pointer;
  height: 10vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}

/* line 125, ../scss/partials/_nav.scss */
.navigation-close {
  color: #fafafa;
  cursor: pointer;
  display: block;
  opacity: 0;
  position: absolute;
  right: 10vh;
  bottom: 10vh;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
}
/* line 135, ../scss/partials/_nav.scss */
.navigation-close.active {
  opacity: 1;
  -webkit-transition: all .3s ease 1.8s;
          transition: all .3s ease 1.8s;
}

/* line 142, ../scss/partials/_nav.scss */
.navigation-close-exterior {
  display: none;
  cursor: pointer;
  height: 10vh;
  position: absolute;
  top: -10vh;
  width: 100vw;
  z-index: 10;
}

@media screen and (min-width: 801px) {
  /* line 163, ../scss/partials/_nav.scss */
  .navigation {
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.25);
    height: 100vh;
    top: 0;
    left: 90vw;
    bottom: 0;
    -webkit-transition: box-shadow .3s ease, left .5s ease 1s;
            transition: box-shadow .3s ease, left .5s ease 1s;
    width: 90vw;
  }
  /* line 172, ../scss/partials/_nav.scss */
  .navigation:hover {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
  }
  /* line 176, ../scss/partials/_nav.scss */
  .navigation.active {
    left: 10vw;
    -webkit-transition: left .5s ease;
            transition: left .5s ease;
  }
  /* line 180, ../scss/partials/_nav.scss */
  .navigation.active:hover {
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.25);
  }

  /* line 188, ../scss/partials/_nav.scss */
  .label-navigation {
    display: block;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    top: auto;
    left: 5vw;
    right: auto;
    bottom: 5rem;
    -webkit-transform: translateX(-50%) rotate(-90deg);
        -ms-transform: translateX(-50%) rotate(-90deg);
            transform: translateX(-50%) rotate(-90deg);
    -webkit-transition: opacity .3s ease;
            transition: opacity .3s ease;
  }
  /* line 201, ../scss/partials/_nav.scss */
  .label-navigation.active {
    opacity: 1;
    -webkit-transition: opacity .3s ease 1.2s;
            transition: opacity .3s ease 1.2s;
  }

  /* line 208, ../scss/partials/_nav.scss */
  .navigation-list {
    display: inline-block;
  }

  /* line 212, ../scss/partials/_nav.scss */
  .navigation-button {
    height: 100vh;
    width: 10vw;
  }

  /* line 217, ../scss/partials/_nav.scss */
  .navigation-close-exterior {
    height: 100vh;
    top: 0;
    left: -10vw;
    width: 10vw;
  }
}
/* line 69, ../scss/app.scss */
.scene {
  width: 100vw;
}
/* line 72, ../scss/app.scss */
.scene.single-post {
  background: #fafafa;
  min-height: 100vh;
}

/* line 81, ../scss/app.scss */
.loop-article {
  background: #fafafa;
  border-bottom: 1px solid #e1e1e1;
  display: block;
  margin: 1rem auto;
  max-width: 45rem;
  padding: 1rem;
  -webkit-transition: box-shadow .3s ease, border .3s ease .3s;
          transition: box-shadow .3s ease, border .3s ease .3s;
  width: 90%;
}
/* line 93, ../scss/app.scss */
.loop-article:first-of-type {
  margin: 1rem auto;
}
/* line 97, ../scss/app.scss */
.loop-article:first-of-type:not(:last-of-type) {
  margin: 1rem auto 1rem;
}
/* line 104, ../scss/app.scss */
.loop-article:last-of-type {
  border-bottom: none;
  margin: 1rem auto;
}
/* line 109, ../scss/app.scss */
.loop-article:last-of-type:not(:first-of-type) {
  margin: 1rem auto 15vh;
}
/* line 116, ../scss/app.scss */
.loop-article:hover {
  border-bottom: 1px solid #fafafa;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: box-shadow .3s ease, border .1s ease;
          transition: box-shadow .3s ease, border .1s ease;
}

/* line 124, ../scss/app.scss */
.article {
  background: #fafafa;
  display: block;
  margin: 1rem auto 15vh;
  max-width: 45rem;
  padding: 1rem;
  width: 90%;
}

@media screen and (min-width: 801px) {
  /* line 149, ../scss/app.scss */
  .scene {
    width: 90vw;
  }

  /* line 153, ../scss/app.scss */
  .loop-article {
    margin: 1.5rem auto;
    padding: 3rem;
  }
  /* line 157, ../scss/app.scss */
  .loop-article:first-of-type {
    margin: 3rem auto 3rem;
  }
  /* line 160, ../scss/app.scss */
  .loop-article:first-of-type:not(:last-of-type) {
    margin: 3rem auto 1.5rem;
  }
  /* line 166, ../scss/app.scss */
  .loop-article:last-of-type {
    margin: 3rem auto 3rem;
  }
  /* line 169, ../scss/app.scss */
  .loop-article:last-of-type:not(:first-of-type) {
    margin: 1.5rem auto 3rem;
  }

  /* line 177, ../scss/app.scss */
  .article {
    margin: 3rem auto;
    padding: 3rem;
  }
}
