<nav class='wrapper-navigation'>

    <div class='navigation'>

        <div class='navigation-close-exterior'></div>

        <h5 class='label-navigation active'>NAVIGATE</h5>

        <div class='navigation-overlay'></div>

        <div class='navigation-button'></div>

        <div class='wrapper-navigation-list'>
            <dl class='navigation-list'>
                <dt></dt>
                <dd class='navigation-list-item'><a href='http://www.joshdr.ink'>Thoughts</a></dd>
                <dd class='navigation-list-item'><a href='http://eepurl.com/bfMVbT'>Subscribe</a></dd>
            </dl>
        </div>

    </div>

    <div class='navigation-close'></div>

</nav>
