<!-- Navigation ==================================================== -->
<nav class='navigation'>

    <div class='navigation-close-exterior'></div>

    <h5 class='label-navigation active'>Navigate<br>(Coming Soon)</h5>

    <div class='navigation-button'></div>

    <div class='wrapper-navigation-list'>
        <dl class='navigation-list'>
            <dt></dt>
            <dd class='navigation-list-item'><a href='../index.html'>Thoughts</a></dd>
            <dd class='navigation-list-item'><a href='content.html'>Discover</a></dd>
            <dd class='navigation-list-item'><a href='artists.html'>Myself</a></dd>
        </dl>
    </div>

    <span class='navigation-close'>X</span>

</nav>
