// =============================================================================

    // APP SCSS
    // Property of joshdrink
    // Authored by Josh Beveridge

// =============================================================================

// Custom Imports ==============================================================
@import 'partials/palette';
@import 'partials/typography';

// Settings ====================================================================

// Resets

* {
    box-sizing: border-box;
}

html,
body {
    background: $white;
    margin: 0;
    padding: 0;
}

// Shadows (Top)
$shadow-top-01: 0 -3px 3px rgba(0, 0, 0, .25);
$shadow-top-02: 0 -5px 5px rgba(0, 0, 0, .25);
$shadow-top-03: 0 -7px 7px rgba(0, 0, 0, .25);
$shadow-top-04: 0 -9px 9px rgba(0, 0, 0, .25);
$shadow-top-05: 0 -11px 11px rgba(0, 0, 0, .25);

// Shadows (Right)
$shadow-right-01: 3px 0 3px rgba(0, 0, 0, .25);
$shadow-right-02: 5px 0 5px rgba(0, 0, 0, .25);
$shadow-right-03: 7px 0 7px rgba(0, 0, 0, .25);
$shadow-right-04: 9px 0 9px rgba(0, 0, 0, .25);
$shadow-right-05: 11px 0 11px rgba(0, 0, 0, .25);

// Shadows (Top)
$shadow-bottom-01: 0 3px 3px rgba(0, 0, 0, .25);
$shadow-bottom-02: 0 5px 5px rgba(0, 0, 0, .25);
$shadow-bottom-03: 0 7px 7px rgba(0, 0, 0, .25);
$shadow-bottom-04: 0 9px 9px rgba(0, 0, 0, .25);
$shadow-bottom-05: 0 11px 11px rgba(0, 0, 0, .25);

// Shadows (Left)
$shadow-left-01: -3px 0 3px rgba(0, 0, 0, .25);
$shadow-left-02: -5px 0 5px rgba(0, 0, 0, .25);
$shadow-left-03: -7px 0 7px rgba(0, 0, 0, .25);
$shadow-left-04: -9px 0 9px rgba(0, 0, 0, .25);
$shadow-left-05: -11px 0 11px rgba(0, 0, 0, .25);

// Displays
.mobile-portrait {display: block;}
// Tablet (Landscape)
@media screen and (min-width:801px) {.mobile-portrait {display: none;}}

.mobile-landscape {display: none;}
// Tablet (Landscape)
@media screen and (min-width:801px) {.mobile-landscape {display: block;}}

// Navigation ==================================================================
@import 'partials/nav';

// Geode Icon ==================================================================
.icon-home {
    display: none;
    position: fixed;
    left: 10vw;
    transform: translateX(-50%);

    >img {
        width: 16vw;
    }

    .icon-grey {
        opacity: 1;
        position: relative;
        transition: opacity .3s ease;
    }

    .icon-black {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity .3s ease;

    }

    &:hover {

        .icon-grey {
            opacity: 0;
        }

        .icon-black {
            opacity: 1;
        }

    }

}

// Post Loop ===================================================================
.scene {
    width: 100vw;

    &.single-post {
        background: $white;
        min-height: 100vh;
    }

}

// Default Card Style ==========================================================

.loop-article {
    background: $white;
    border-bottom: 1px solid $light-grey;
    display: block;
    // margin: 1.5rem auto;
    margin: 1rem auto;
    max-width: 30rem;
    // padding: 3rem;
    padding: 1rem 0;
    transition: box-shadow .3s ease, border .3s ease .3s;
    width: 85%;

    &:first-of-type {
        // margin: 3rem auto 3rem;
        margin: 1rem auto;

        &:not(:last-of-type) {
            // margin: 3rem auto 1.5rem;
            margin: 1rem auto 1rem;
        }

    }

    &:last-of-type {
        border-bottom: none;
        // margin: 3rem auto 3rem;
        margin: 1rem auto;

        &:not(:first-of-type) {
            // margin: 1.5rem auto 3rem;
            margin: 1rem auto 15vh;
        }

    }

    &:hover {
        // border-bottom: 1px solid $white;
        // box-shadow: $shadow-bottom-01;
        transition: box-shadow .3s ease, border .1s ease;;
    }

}

.article {
    background: $white;
    display: block;
    // margin: 3rem auto;
    margin: 1rem auto 15vh;
    max-width: 30rem;
    // padding: 3rem;
    padding: 1rem 0;
    width: 85%;
}

// Media Queries ===============================================================

// Phone (Landscape)
@media screen and (min-width:541px) {}

// Tablet (Portrait) & Lower
@media screen and (max-width: 640px) {}

// Tablet (Portrait)
@media screen and (min-width:641px) {}

// Tablet (Landscape)
@media screen and (min-width:801px) {

    .scene {
        width: 90vw;
    }

    .icon-home {
        display: block;
    }

    .loop-article {
        margin: 1rem 20vw;
        padding: 1.5rem 0;

        &:first-of-type {
            margin: 3rem 20vw 1.5rem;

            &:not(:last-of-type) {
                margin: 3rem 20vw 1rem;
            }

        }

        &:last-of-type {
            margin: 3rem 20vw 3rem;

            &:not(:first-of-type) {
                margin: 1rem 20vw 3rem;
            }

        }

    }

    .article {
        margin: 3rem 20vw;
        padding: 1.5rem 0;
    }

}

// Desktop
@media screen and (min-width:1023px) {}

// Desktop XL
@media screen and (min-width:1281px) {}
